*{
    margin: 0;
}
.Container_1{
    display: flex;
    justify-content: center;
}
.body_part{
    display: flex;
    align-items: center;
    justify-content: center;
}
.third_head{
    margin-left: 3px;
}
Body{
    background-color: white;
}
.imgfir,.imgfou,.imgsec,.imgthi{
    border: 5px solid black;
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 5px;
    width: 24vw;
    height: 450px;
}

.brand{
    color: red;
    margin-right: 150px;
    font-weight: bold;
    margin-top: 5px;
    font-size: 25px;
}
.searching{
    height: 25px;
    width: 300px;
    position: relative;
    margin-right: 50px;
    bottom: 5px;
}
button{
    height: 35px;
    width: 60px;
    position: relative;
    bottom: 8px;
    font-size: 10px;
    margin-right: 50px;
    border: none;
    cursor: pointer;
}
.img3{
    height: 60px;
    width: 60px;
}
.brand, .search, .sign{
    position: relative;
}
.dine, .nighting, .delivering{
    position: relative;
    bottom: 22px;
    left: 5px;
}
.second{
    padding-bottom: 10px;
    position: sticky;
    top: 0px;
    background-color: white;
}
.dinning{
    margin-left: 200px;
}
.third{
    height: 500px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.delivery, .nightlife{
    margin-left: 50px;
}
.first{
    margin-left: 200px;
    margin-bottom: 10px;
}
.card:hover{
    background-color: rgb(241, 241, 241);
    border-color: rgb(241, 241, 241);
}
.off{
    background-color: rgba(23, 13, 216, 0.4);
    border-radius: 10px;
    font-size: 25px;
    color: white;
    position: absolute;
    bottom: 15px;
}
.image{
    position: relative;
}
.card{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px; 
    cursor: pointer;
    border: 10px solid white;
    border-radius: 15px;
}
.Box{
    display: inline-block;
}
.restaurant{
    position: relative;
    margin: 3px;
    margin-top: 10px;
}
.img1{
    height: 280px;
    width: 30vw;
    border-radius: 15px;
}
.Restaurant_name{
    font-size: 20px;
    font-weight: bold; 
}
.rating{
    background-color: green;
    height: 15px;
    padding: 2px;
    color: white;
    border-radius: 8px;
    position: absolute;
    right: 5px;
}
.dishes, .location_name{
    margin: 3px;
    position: relative;
    color: rgb(119, 118, 118);
}
.price, .distance{
    position: absolute;
    right: 5px;
}
.distance{
    font-weight: bold;
}
